{% extends 'main/layout.html' %}

{% block title %} Гостевая книга {% endblock %}

{% block content %}
    <div class="features">
        <h1>Гостевая книга</h1>
        {% if request.user.is_authenticated %}
            <h6>Вы вошли под именем {{ request.user.username }}. Если хотите выйти нажмите <a href="{% url 'new_user' %}" class="link">здесь</a></h6>
            <h6><a href="{% url 'add_message' %}" class="btn"> Оставить сообщение </a></h6>
        {% else %}
        <h6> <a href="{% url 'login' %}" class="link"> Войти </a>&nbsp;<a href="{% url 'new_user' %}" class="link"> Регистрация </a></h6>
        {% endif %}

        {% if mes %}
            {% for el in mes %}
                <div class="alert alert-dark">
                    <h6>{{ el.author }}</h6>
                    <h5>{{ el.date }}</h5>
                    <h4>{{ el.subject }}</h4>
                    <h4>{{ el.full_text }}</h4>
                </div>
            {% endfor %}
        {% else %}
           <p>Сообщений пока нет</p>
        {% endif %}
    </div>
{% endblock %}