{% extends 'main/layout.html' %}

{% block title %} Биографии известных музыкантов {% endblock %}

{% block content %}
    <div class="features">
        <h1>Биографии известных музыкантов</h1>
        {% if bios %}
            {% for el in bios %}
                <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.description }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>Биографий пока нет</p>
        {% endif %}
    </div>
{% endblock %}

