{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content%}
    <div class="features">
        <h1>Сайт Music Review</h1>
        <img src="{% static 'main/img/Deftones05.jpg' %}" alt="Заставка" width="500" height="400">
        <p> Сайт о самых крутых представителях альтернативного метала эпохи Миллениум. Здесь можно почитать их биографии и рецензии на отдельные полноформатные записи.</p>

        <a href="{% url 'bio_home' %}" class="btn"> читать биографии </a>
        <a href="{% url 'bio_home' %}" class="btn"> читать рецензии </a>
    </div>
{% endblock %}
