body {
    background: #212222 ;
}

aside {
    float: left;
    background: #121313 ;
    width: 17%;
    padding: 0%;
    height: 100vh;
    border-right: 4px  solid #4d4d4d;
    color: #4d4d4d;
    position: fixed;
}

aside img {
    width: 20%;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}

aside .logo {
    font-size: 15px;
    margin left: 30px;
    font-weight: bold;
    position: relative;
    left: 5px;
    top: 27px;

}

aside h3 {
    margin-top: 100px;
    margin-left: 20px;
    font-size: 15px;
}

aside ul {list-style: none}
aside ul li {
    color: #4d4d4d;
    display: block;
    margin-top: 20px;
    font-size: 15px;
    text-decoration: underline;
    transition: transform .5s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #327AA4;
    text-decoration: none;
    transform: scale(1.20);
}

main .features {
    float: left;
    color: #4d4d4d;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 50%;             
    text-align: center;
    width: 75%;
    position: center;
}

main .features h1 {margin-top: 20px; font-size: 20px; color: #cfe5dc}
main .features h3 {font-size: 20px; color: #121313}
main .features p {max-width: 400px; margin: 0px auto; color: #4d4d4d; font-size: 15px}
main .features img {width: 60%; margin: 25px auto}


.alert-dark {
    background-color: grey;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    font-size: 15px;
    width: 800px;
    text-align: left;
    float: left;
    clear: both;
    margin: 20px 14%;
    color: #121313;
    border-style: none;
}

.btn {
    display: inline-block;
    background: grey;
    color: #121313;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 30px;
   }

.btn2 {
    display: inline-block;
    color: #0a6aad;
    border-radius: 3px;
   }

main .articles {
   width: 800px;
   margin: 0px auto;
   color: #4d4d4d;
   text-align: left;
   font-size: 15px;
   padding-top: 0px;
   padding-left: 100px;
   margin-right: 270px;
   padding-right: 0px;
   text-indent: 25px;
   }

main .articles h1 {text-align: center; padding: 20px; margin-right: 30px;}
main .articles img {width: 700px; height: 526px; margin-left: -240; margin-top: 0px; margin-bottom: 0px;}
main .fea {
    padding-top: 50px;
    padding-left: 100px;
    }

main .btn3 {
    width: 17%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 630px;
    }
main .fea p {
   box-sizing: border-box;
   margin: 20px auto;
   text-align: right;
   font-size: 15px;
   padding-top: 20px;
   padding-left:200px;
   padding-right: 500px;
   text-indent: 25px;
   color: #4d4d4d;
   width: 100%;
   height: 50px;
}

main .fea li {
   box-sizing: border-box;
   margin: 0px auto;
   text-align: left;
   font-size: 15px;
   padding-top: 0px;
   padding-left:317px;
   padding-right: 0px;
   #text-indent: 25px;
   color: #4d4d4d;
   width: 100%;
}

main .fea h1 {margin-top: 0px; padding-top: 20px; padding-left: 100px; font-size: 20px; color: #cfe5dc; text-align: center;}
main .features h1 {margin-top: 0px; padding-top: 20px; padding-bottom: 20px; font-size: 20px; color: #cfe5dc; text-align: center;}
main .su {margin-top: 0px; padding-top: 80px; padding-left:156px; text-align: center; font-size: 15px; color: #cfe5dc}

main .features h3 {margin-top: 0px; font-size: 20px; color: #121313; text-align: left;}
main .features h5 {margin-top: 0px; font-size: 15px; color: #121313; text-align: left;}
main .features h4 {margin-top: 0px; font-size: 15px; color: #4d4d4d; text-align: left;}

main .feat {
    padding-top: 30px;
    margin_top: 30px;
    padding-left: 240px;
    text-align: center;
    width: 100%;
}

main .feat h2 {margin-top: 0px; padding-top: 10px; font-size: 20px; color: #cfe5dc; text-align: center;}
#main .feat p {margin-top: 0px; padding-top: 20px; margin-left: -688px; font-size: 15px; color: #121313; text-align: center;}
#main .form-group2 {margin-top: 0px; width: 400%; padding-top: 10px; margin-left: -195px; font-size: 15px; color: #212222; text-align: center;}

main .btn4 {
    width: 17%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 200px;
}

main .feat img {width: 200px; height: 200px; margin: 0px; margin-left: 290px; margin-bottom: 10px;}
main .feat h3 {margin-top: 0px; text-align: center;}
main .feat2 h1 {padding-top: 10px; padding-bottom: 40px; margin-left: 180px; text-align: center; color: #cfe5dc; font-size: 20px}
main .feat2 p {margin-top: 0px; margin-left: -20px; margin-bottom: 20px; text-align: center; font-size: 20x;}
main .feat2 img {width: 250px; height: 250px; margin: 0px; margin-left: 180px; margin-bottom: 10px;}

main .feat2 {
    padding-top: 30px;
    margin_top: 30px;
    padding-left: 0px;
    text-align: center;
    width: 100%;
}

main .articles2 {
   width: 800px;
   margin: 0px auto;
   color: #4d4d4d;
   text-align: left;
   font-size: 15px;
   padding-top: 30px;
   padding-left: 220px;
   padding-right: 0px;
   text-indent: 25px;
   }

main .articles2 h1 {text-align: center; padding: 0px; padding-bottom: 30px; font-size: 25px; margin-right: 48px;}
main .articles2 img {width: 500px; margin-left: 20px; margin-top: 10px; margin-bottom: 10px;}