body {
    background: #212222 ;
}

aside {
    float: left;
    background: #121313 ;
    width: 17%;
    padding: 0%;
    height: 100vh;
    border-right: 4px  solid #4d4d4d;
    color: #4d4d4d;
    position: fixed;
}

aside img {
    width: 20%;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}

aside .logo {
    font-size: 15px;
    margin left: 30px;
    font-weight: bold;
    position: relative;
    left: 5px;
    top: 27px;

}

aside h3 {
    margin-top: 100px;
    margin-left: 20px;
    font-size: 15px;
}

aside ul {list-style: none}
aside ul li {
    color: #4d4d4d;
    display: block;
    margin-top: 20px;
    font-size: 15px;
    text-decoration: underline;
    transition: transform .5s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #327AA4;
    text-decoration: none;
    transform: scale(1.20);
}

main .features {
    float: left;
    color: #4d4d4d;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 50%;             
    text-align: center;
    width: 75%;
    position: center;
}

main .features h1 {margin-top: 20px; font-size: 20px; color: #cfe5dc}
main .features h3 {font-size: 20px; color: #121313}
main .features p {max-width: 400px; margin: 0px auto; color: #4d4d4d; font-size: 15px}
main .features img {width: 60%; margin: 25px auto}


.alert-dark {
    background-color: grey;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    font-size: 15px;
    width: 800px;
    text-align: left;
    float: left;
    clear: both;
    margin: 20px 14%;
    color: #121313;
    border-style: none;
}

.btn {
    display: inline-block;
    background: grey;
    color: #121313;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 30px;
   }

.btn2 {
    display: inline-block;
    color: #0a6aad;
    border-radius: 3px;
   }

main .articles {
   width: 800px;
   margin: 0px auto;
   color: #4d4d4d;
   text-align: left;
   font-size: 15px;
   padding-top: 30px;
   padding-left: 100px;
   padding-right: 0px;
   text-indent: 25px;
   }

main .articles h1 {text-align: center; padding: 20px;}
main .articles img {width: 700px;}