{% extends 'main/layout.html' %}

{% block title %} Рецензии на альбомы {% endblock %}

{% block content %}
    <div class="feat2">
        <h1>Рецензии на альбомы</h1>
        {% if rev %}
            {% for el in rev %}

                    <img src="{{ el.image.url }}" width=250 height=250 border="2" style=border-color:#4d4d4d><br>
                    <p><a href="{% url 'reviews_detail' el.id %}" class="btn4">{{ el.title }}</a></p>

            {% endfor %}
        {% else %}
            <p>Рецензий пока нет</p>
        {% endif %}
    </div>
{% endblock %}